@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crete Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=InaiMathi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 6vw;
}

button {
  background: #ff6b00;
  color: #fff;
  font-family: "Inter", sans-serif;
  padding: 1em;
  white-space: nowrap;
  width: 8em;
  letter-spacing: 0.03em;
  font-weight: 700;
  display: flex;
  align-items: center;
  border: 0;
}

button:hover {
  color: #f55800;
  background: #fff5e1;
}

button:active {
  color: #f4f1f0;
  background: #e05304;
}

button:disabled {
  color: #f4f1f0;
  background: #5b5957;
}

hr {
  width: 95%;
  border: 1px solid #212121;
}

img {
  width: 100%;
}

/* header  */
header {
  background: #3c3a39;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
}

header h1 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  display: flex;
  gap: 54vw;
  align-items: center;
  padding: 1.5em;
}

header img {
  padding-left: 48vw;
  padding-top: 1.8vw;
}

header ul {
  display: none;
}

/* intro */
.intro {
  background: #1c1a19;
  width: 100%;
  background-image: url("./img/intro-mobile.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 81vh;
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem;
}

.about .brief h1 {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 88px;
  color: #ff6b00;
  text-align: center;
}

.about .list h1 {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.2em;
  display: flex;
  align-items: center;
  color: #fff;
  gap: 0.5em;
  padding: 15vw;
  margin: 0;
}

.about .list:last-child h1 {
  padding-left: 3em;
}

.intro h1 {
  color: #ff6800;
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  font-size: 12vw;
  padding-right: 29.1vw;
  align-self: center;
}

.intro h2 {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  margin-top: -6vw;
}

.about .brief p {
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5em;
  color: #f4f5f7;
  padding: 1vh 12vw;
}

.intro p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin-top: -3vw;
}

.about .list ul {
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.about .list:last-child ul {
  margin-bottom: 6rem;
}

.intro ul {
  margin-left: -9vw;
  margin-top: 1vw;
}

/* works */
.works {
  background: #e5e5e5;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}

.works h1 {
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  font-size: 2em;
  white-space: nowrap;
  align-self: center;
}

#top-work {
  display: flex;
  flex-direction: column;
}

#top-work h1 {
  color: #091e42;
}

#top-work p {
  font-family: "Inter", sans-serif;
  line-height: 1.5em;
  color: #091e42;
}

#top-work ul {
  margin-left: -2.7rem;
  gap: 12px;
}

.about .list ul li {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  line-height: 6vh;
}

#top-work ul {
  gap: 0.6em;
}

#top-work ul li {
  box-sizing: border-box;
  border: 1px solid #8993a4;
  align-items: center;
  padding: 0.75em 0.75em;
}

.works #special,
.works #normal {
  position: relative;
  margin: 2.4vh 1.2vw;
}

.about .list img {
  width: unset;
}

.works #special img,
.works #normal img {
  width: 100%;
}

.works #special h1,
.works #normal h1 {
  position: absolute;
  top: 10.2%;
  left: 16px;
  color: white;
  font-family: 'Crete Round', sans-serif;
  font-size: 8vw;
  line-height: 44px;
  white-space: break-spaces;
}

.works #special p,
.works #normal p {
  position: absolute;
  top: 42%;
  left: 1.2em;
  color: white;
  font-size: 4.2vw;
  font-family: 'Crete Round', sans-serif;
  line-height: 1.8em;
  width: 90%;
}

.works #special ul,
.works #normal ul {
  position: absolute;
  bottom: 12%;
  left: 1em;
  padding: 0;
}

.works #special ul li,
.works #normal ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.2vh 3vw;
  background: rgba(255, 255, 255, 0.24);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4.5vw;
  color: #fff;
}

.about .brief button {
  margin-left: 11.4vw;
  width: 42vw;
  height: 7.8vh;
  margin-top: 3rem;
  font-size: 4.2vw;
}

.works #special button,
.works #normal button {
  position: absolute;
  bottom: 1.5%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1.2em 4em;
  white-space: nowrap;
  margin-bottom: -1.8em;
  font-size: 6vw;
}

.works #normal:last-child {
  margin-bottom: 12em;
}

/* about */
.about {
  background: #1c1a19;
  width: 100%;
  padding: 3rem 0;
}

.about .brief {
  background-image: url("./img/about-me-mobile.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 81vh;
}

.about hr {
  border: 1px solid #fff;
}

/* contact */
.contact {
  background: #e5e5e5;
  width: 100%;
  padding-bottom: 11.2%;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 3.9em;
  width: 100%;
  align-items: center;
}

.input-div {
  display: none;
}

input[type="text"],
input[type="email"] {
  border: solid 1px #dbd8d7;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  width: 80%;
}

textarea {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  line-height: 2.4em;
  width: 80%;
  height: 27vh;
}

.contact h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.2em;
  line-height: 1.38em;
  text-align: center;
  padding: 3vw;
}

footer ul {
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
}

footer hr {
  border: 1px solid#dfe1e6;
}



@media screen and (min-width: 768px) {
  body {
    width: 100%;
  }

  header {
    height: 18vh;
  }

  header .header-mobile {
    display: none;
  }

  header h1 {
    font-size: 2.7vw;
    padding-top: 5%;
  }

  header ul {
    display: flex;
    padding-left: 24vw;
    padding-top: 2.4vh;
  }

  header li {
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 2.1vw;
  }

  .img-container img {
    width: 48vw;
  }

  header .header-desktop {
    width: 1.4em;
  }

  section.intro {
    margin: 0 auto;
    background-image: url(./img/Illustration-header.png);
    background-position: right center;
    background-size: auto 100%;
    padding-top: 50%;
  }

  .intro .intro-text {
    width: 50%;
    margin-left: 9vw;
    margin-top: -42vw;
  }

  .works-desktop h1 {
    display: inline-block;
    white-space: nowrap;
    font-size: 3vw;
    padding-left: 3vw;
  }

  .text-div h1 {
    font-size: 4.2vw;
    padding: 0 1vw;
  }

  .intro .intro-text h1 {
    font-size: 5.1vw;
    white-space: nowrap;
  }

  .intro h2 {
    font-size: 3.6vw;
    padding-top: 6vh;
  }

  .intro p {
    font-size: 2.1vw;
    padding-top: 6vh;
  }

  .intro ul {
    flex-direction: column;
    margin-top: -30vw;
    gap: 1.5vw;
    margin-left: -1vw;
  }

  .intro ul li img {
    width: 1.5%;
  }

  section.works {
    margin: 0 auto;
  }

  #top-work,
  #special,
  #normal {
    width: 33.33%;
    margin: 0 1em;
  }

  .works-desktop {
    display: flex;
    align-items: center;
  }

  .works-desktop hr {
    display: inline-block;
    width: 100%;
    flex-grow: 1;
    margin-right: 9.3%;
    margin-left: 2.4%;
  }

  #top-work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about .brief h1 {
    font-size: 9vw;
    padding-top: 24vh;
    margin-bottom: 6vh;
  }

  .about .list h1 {
    font-size: 4.5vw;
    padding: 9vw 6vw;
  }

  .about .list:last-child h1 {
    padding-left: 9vw;
  }

  #top-work h1 {
    font-size: 3vw;
  }

  .about .brief p {
    padding: 3vh 0;
    font-size: 1.5vw;
    margin-left: 7.2vw;
    width: 84%;
  }

  .about .list ul li {
    font-size: 4.2vw;
  }

  #top-work p,
  #top-work ul li {
    font-size: 1.5vw;
  }

  .form-div button {
    margin-right: 55.2%;
    font-size: 1.5vw;
  }

  .about .brief button {
    margin-left: 7.2vw;
    font-size: 1.5vw;
    width: 15vw;
    margin-top: 6vw;
  }

  #top-work button {
    width: 15vw;
    font-size: 1.8vw;
  }

  .img-container {
    padding-left: 4.2vw;
  }

  .text-container {
    padding-left: 3vw;
    margin-top: -2.7vw;
  }

  .div-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    align-self: center;
  }

  #special,
  #normal {
    width: 27vw;
  }

  #special img {
    content: url("./img/spcial-work.png");
  }

  .works #special button {
    padding: 3vh 9vw;
    bottom: 2.975vw;
    font-size: 1.5vw;
  }

  .about .list ul {
    padding-left: 6vw;
  }

  .about .list:last-child ul {
    padding-left: 0;
  }

  #special h1,
  #special p,
  #special ul {
    display: none;
  }

  .div-container #normal button {
    display: none;
  }

  #normal h1 {
    font-size: 1.38em;
  }

  .works #normal h1 {
    font-size: 2.7vw;
    line-height: 3vw;
    top: 30%;
    left: 2.1vw;
  }

  .works #normal:nth-child(4) h1 {
    top: 17.1%;
  }

  .works #normal:nth-child(5) h1 {
    top: 17.1%;
  }

  .works #normal:nth-child(4) p {
    top: 33%;
  }

  .works #normal:nth-child(5) p {
    top: 33%;
  }

  .works #normal:nth-child(4) ul {
    bottom: 48%;
    left: 2.4vw;
  }

  .works #normal:nth-child(5) ul {
    bottom: 48%;
    left: 2.4vw;
  }

  .works #normal p {
    font-size: 1.2vw;
    margin-left: 0.3vw;
    line-height: 2vw;
    font-family: 'Inter', sans-serif;
    top: 57%;
    left: 2vw;
  }

  .works #normal ul {
    gap: 1.5vw;
    bottom: 10.2%;
    left: 2.1vw;
  }

  .works #normal ul li {
    padding: 1.2vh 1.2vw;
    font-size: 1.5vw;
    margin-bottom: -3vw;
  }

  .about .brief {
    padding: 0;
    margin: 0 auto;
    background-image: url("./img/about-me-desktop.png");
    background-position: right bottom;
    background-size: 42vw;
    width: 100%;
    margin-bottom: 24vw;
  }

  .about .about-text {
    width: 55%;
  }

  .about .list-div {
    display: flex;
  }

  .about .list {
    width: 33vw;
  }

  .contact {
    padding: 11.1% 0;
  }

  .contact-div {
    display: flex;
  }

  .text-div {
    width: 45.5%;
  }

  .form-div {
    width: 54.5%;
    padding: 3vw;
  }

  .form-div #name {
    display: none;
  }

  .input-div {
    display: flex;
    width: 80%;
    gap: 1em;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 1.8vw;
  }

  .ned {
    display: none;
  }

  .about hr {
    margin-top: 12vh;
  }
  
}
