*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 21px;
}

hr {
  width: 95%;
  border: 1px solid #212121;
}

img {
  width: 100%;
}

/* header  */
header {
  background: #3c3a39;
  width: 100%;
  height: 11.2vh;
  display: flex;
}

header h1 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  display: flex;
  gap: 200px;
  align-items: center;
  margin-left: 15px;
}

/* intro */
#intro {
  background: #1c1a19;
  width: 100%;
  background-image: url("./img/intro-mobile.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 167vh;
  display: flex;
  flex-direction: column;
}

#intro h1 {
  color: #ff6800;
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  align-self: center;
}

#intro h2 {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  align-self: center;
}

#intro p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 12px 24px;
}
